/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: #FFFEF8;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 140px 0 140px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li button {
	border: none;
	background-color: white;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 16.8px;
}

nav li button:hover {
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}

nav li img {
	width: 22px;
	height: 22px;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio button {
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	border: 1px solid #1D6154;
	color: #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	height: 37px;
	background-color: transparent;
}

#portfolio .selected {
	background-color: #1D6154;
	color: #FFF;
}

[data-category-id="Tous"] {
	width: 100px;
	order: -2;
}

[data-category-id="1"] {
	width: 100px;
}

[data-category-id="2"] {
	width: 157px;
}

[data-category-id="3"] {
	width: 198px;
}

#portfolio button:hover {
	background-color: #1D6154;
	color: white;
}

#portfolio .filtres {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	gap: 10px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* page login */

.h2-login-page {
	margin-left: 549px;
	margin-top: 210px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	height: 36px;
}

.labelemail {
	margin-left: 380px;
	margin-top: 69px;
	display: block;
	font-family: 'Work Sans';
	font-weight: 500;
}

#email-login {
	margin-left: 380px;
	margin-top: 7px;
	display: block;
	height: 50px;
	width: 379px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	font-size: 16px;
}

.labelpassword {
	margin-left: 380px;
	margin-top: 30px;
	display: block;
	font-family: 'Work Sans';
	font-weight: 500;
}

#password {
	margin-left: 380px;
	margin-top: 7px;
	display: block;
	height: 50px;
	width: 379px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}

#connect-btn {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	border: none;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-left: 480px;
	margin-top: 37px;
	margin-bottom: 0;
}

.forget-user-password {
	font-weight: 500;
	font-size: 14px;
	text-decoration: underline;
	color: #3D3D3D;
	text-align: center;
	margin-top: 28px;
	margin-bottom: 355px;
}


/* end layout form for now -> finish button submit + forgot password */
/* start error auth here */

#error-message {
	color: #801111;
	font-size: 18px;
	text-align: center;
	margin-top: -325px;
	font-weight: 700;
	margin-bottom: 325px;
}

/* end error auth message


/* end page login */

/* welcome page when auth ok */

.portfolio-title {
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: baseline;
}

.portfolio-title #modify-button {
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
	padding: 1px 0 1px 0;
	align-items: baseline;
	border: none;
	color: black;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Work Sans';
}

.portfolio-title #modify-button:hover {
	background-color: inherit;
	color: black;
	font-family: 'Work Sans';
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* create modale */

.modale {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.modale1 {
	display: none;
	flex-direction: column;
	align-items: center;
}

.modale-content {
	overflow: auto;
	width: 630px;
	display: flex;
	flex-direction: column;
	padding: 20px 20px 0px 20px;
	border-radius: 10px;
	background-color: #FFF;
}

.modale .xmark {
	width: 24px;
	height: 24px;
	align-self: flex-end;
	padding: 0;
	border: none;
	background-color: white;
	margin-bottom: 10px;
}

.modale .back {
	width: 21px;
	height: 21px;
	align-self: flex-end;
	padding: 0;
	border: none;
	background-color: white;
	margin-bottom: 10px;
	visibility: collapse;
}

.modale-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modale button img {
	width: 100%;
	height: 100%;
	padding: 0;
}

.modale .modale-title {
	align-self: center;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 45px;
}

.modale-works {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 28px 8px;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 50px;
	margin: 0 60px 37px 60px;
}

.work-item button {
	position: absolute;
	top: 3px;
	right: 3px;
	background: transparent;
	border: none;
}

.modale-works .work-item {
	display: flex;
	flex-direction: column;
	position: relative;
}

.modale-works img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.add-photo {
	align-self: center;
	border-radius: 60px;
	border: none;
	height: 35px;
	background-color: #1D6154;
	color: #FFF;
	width: 237px;
	padding: 11px 0 11px 0;
	margin-bottom: 30px;
	order: 2;
}

.add-photo .span {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;

}

/* modal 2 (upload file) hidden by default */
.modale2 {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	order: 1;
}

.modale2 form {
	display: contents;
}

.upload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F6;
	border-radius: 3px;
	padding: 0 20px 0 20px;
	/*visibility: hidden;*/
	width: 420px;
	height: 169px;
}

.upload span {
	margin-bottom: 20px;
}

.upload img {
	margin-top: 20px;
}

.upload .uploaded-image {
	height: 100%;
	width: 31%;
	margin: 0;
	z-index: 10000;
}

.upload-form {
	display: flex;
	flex-direction: column;
	background-color: #E8F1F6;
	border-radius: 3px;
	padding: 30px 20px 20px 20px;
	border-bottom: 1px solid #B3B3B3;
	margin-bottom: 30px;
	/*visibility: hidden;*/
	width: 420px;
	height: 169px;
	background-color: white;
}

.upload-form .upload-form-title {
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 10px;
}

.upload-form #title {
	height: 51px;
	border: none;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
	margin-bottom: 21px;
	font-size: large;
	padding: 0;
}

.upload-form select {
	height: 51px;
	border: none;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
	margin-bottom: 21px;
}



.upload img {
	width: 76px;
	height: 76px;
}

.upload label {
	background-color: #CBD6DC;
	border-radius: 50px;
	padding: 10px 20px;
	margin: 10px 0 5px 0;
	font-weight: 500;
	font-size: 14px;
	color: #306685;
}

.upload .upload-details {
	font-weight: 400;
	font-size: 10px;
	color: #444444;
}

.valid-upload {
	align-self: center;
	border-radius: 60px;
	border: none;
	height: 35px;
	background-color: #A7A7A7;
	color: #FFF;
	width: 237px;
	padding: 11px 0 11px 0;
	margin-bottom: 30px;
	order: 2;
}